[org/gnome/desktop/background]
picture-uri='file:///usr/share/backgrounds/{{ company_short }}/wallpaper.png'
picture-uri-dark='file:///usr/share/backgrounds/{{ company_short }}/wallpaper.png'
picture-options='zoom'
primary-color='#000000'
