# Managed by Ansible
minlen = {{ password_min_len }}
minclass = {{ password_min_classes }}
dcredit = -1
ucredit = -1
lcredit = -1
ocredit = -1
maxrepeat = 3
gecoscheck = 1
dictcheck = 1
enforcing = 1
