[org/gnome/desktop/session]
idle-delay=uint32 {{ idle_lock_seconds }}

[org/gnome/desktop/screensaver]
lock-delay=uint32 0
lock-enabled=true

[org/gnome/settings-daemon/plugins/power]
sleep-inactive-ac-timeout={{ auto_logout_seconds }}
sleep-inactive-ac-type='logout'
