APT::Periodic::Update-Package-Lists "{{ 1 if updates_automatic else 0 }}";
APT::Periodic::Unattended-Upgrade "{{ 1 if updates_automatic else 0 }}";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "7";
