{
  "HomepageLocation": "{{ browser_homepage }}",
  "HomepageIsNewTabPage": false,
  "RestoreOnStartup": 4,
  "RestoreOnStartupURLs": ["{{ browser_homepage }}"],
  "IncognitoModeAvailability": {{ 1 if browser_disable_private else 0 }},
  "DeveloperToolsAvailability": {{ 2 if browser_disable_devtools else 0 }},
  "PasswordManagerEnabled": {{ (not browser_disable_password_save) | lower }},
  "MetricsReportingEnabled": false,
  "URLBlocklist": [
{% for u in browser_blocked_urls %}
    "{{ u }}"{{ "," if not loop.last else "" }}
{% endfor %}
  ],
  "URLAllowlist": [
{% for u in browser_allowed_urls %}
    "{{ u }}"{{ "," if not loop.last else "" }}
{% endfor %}
  ]{% if proxy_enabled %},
  "ProxyMode": "fixed_servers",
  "ProxyServer": "{{ proxy_http }}",
  "ProxyBypassList": "{{ proxy_no_proxy }}"
{% endif %}
}
